body {
    margin: 0;
    background-color: #333;
    font-family: "Comfortaa", sans-serif;
}

.navbar-section {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    
    color: #fff;
    font-family: "Comfortaa", sans-serif;
    transition: all 0.3s ease;
}

.logo-img {
    height: 60px !important;
    width: auto;
}


.navbar-div {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-div a img {
    height: 45px;
    width: auto;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar-div a img:hover {
    transform: scale(1.1);
}

.first-img-sm {
    margin-left: 1.5em;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkbar {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    margin: 0 0.5em;
}

.linkbar:hover {
    color: #1abc9c; 
    transform: scale(1.05);
}

.social-media-bar {
    display: inline-block;
    margin-left: 1em;
}

.img-social-media {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.img-social-media:hover {
    transform: scale(1.2);
}

.hero-section img {
    filter: blur(10px);
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-hero {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info-hero a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 59px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.63); 
    transition: all 0.3s ease;
}

.info-hero a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.acerca {
    padding: 50px 20px;
    background-color: #222;
    color: #fff;
}

.info-hero, .acerca {
    font-size: 1.2rem;
}

.acerca {
    display: flex;
    justify-content: space-around;
}

.div-info-main {
    display: inline-block;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
    color: #fff;
    text-decoration: none;
    text-align: justify;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.63); 
    transition: all 0.3s ease;
    flex-direction: column
}

.div-info-main:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.01);
}

.first-img {

    width: 30vw;;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.63); 
    transition: all 0.3s ease;
}



.first-img:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.01);
}





@media screen and (max-width: 900px) {
    .hamburger {
        display: flex;
        z-index: 1001;
    }

    .navbar-links {
        position: fixed;
        top: 9vh;
        right: 0;

        width: 100%;
        height: calc(100vh - 70px);

        background: rgba(71, 71, 71, 0.842);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);

        border-top: 1px solid rgba(255, 255, 255, 0.822);

        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 25px;

        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;

        transition: all 0.35s ease;
    }

    .navbar-links.show {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .navbar-links a {
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .social-media-bar {
        margin-top: 20px;
        margin: 0;
    }


    .hero-section img {
        filter: blur(10px);
        width: 100%;
        height: 100%;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }

    .acerca {
        flex-wrap: wrap !important;
    }

    .div-info-main {
        padding: 1em;
        width: 90vw;
        font-size: 1em;
    }

    .div-info-main h2 {
        font-size: 1.5em;
        margin: 1em 0;
    }

    .div-info-main p {
        font-size: 1em;
    }

    .extra-text {
        display: none;
    }

    .first-img {
        margin: 2em 0;
        width: 90vw;
    }


}
